*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main{
    padding-top: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}
.navbar{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.1vw 1vh;
    /* position: fixed; */
    background-color: white; 
}
.icon {
    padding-right: 2%;
    display: flex;
    gap: 2vw; /* Adds spacing between icons */
}

.fa{
    color: black;
}

#soles{
    font-size: 280%;
}

li{
    text-decoration: none;
    color: ;
}

.container-navbar{
    margin-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 80vw;
    height: 10vh;
    /* background-color: aquamarine;
    border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5rem;
    margin: 2rem;
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
}


.collections{
    display: flex;
    
}