
.navbar {
    margin-top: 0px;
    padding: 0px;
    /* margin: 2%; */
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between; /* Ensures text and icons are spread apart */
    align-items: center;
    padding: 0.1vw 1vh;
    position: fixed;
    z-index: 90;
    background-color: white;
    /* border: 2px solid black; */
    /* position: fixed;  */
} 


#soles{
    font-size: 280%;
    /* color: aqua; */
}

.icon {
    padding-right: 2%;
    display: flex;
    gap: 2vw; /* Adds spacing between icons */
}

.fa{
    color: black;
}
.icon i {
    transition: transform 0.3s ease-in-out;
}

.icon i:hover {
    transform: scale(1.4);
}

