*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s ease-in-out;
    
}

#toggleTheme{
    transition: transform 0.3s ease-in-out;
    color: black;
}

#toggleTheme:hover{
    transform: scale(1.5);
}



.dark-theme {
    background-color: #1a1a1a;
    color: #ffffff;
}
h1{ 
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}





.video-background {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.container{
    width: 23vw;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    text-align: justify;
    margin-left: 60vw;
    margin-top: 63vh; 
    
}
#but11{
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.5rem;
  margin: 2rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.3s ease-in-out;
}


#but11:hover{
    opacity: 0.8;
    /* padding: 0.8rem; */
    transform: scale(1.2);
}
.second_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    min-height: 50vh;
    background-color: rgb(255, 255, 255);

}
.explore{

 margin-top: 25vh;
 background-color: #A6AEBF;
 border: none;
}

#mens_collection{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/a1.jpg");
    background-size: cover;
    background-position: center;
    border: 2 px solid black;
    width: 25%;
    height: 40%;
    background-color: red;
}
#women_collection{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/a14.jpg");
    background-size: cover;
    background-position: center;
    border: 2 px solid black;
    width: 25%;
    height: 40%;
    background-color: green;
}
#sports_collection{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/a10.jpg");
    background-size: cover; 
    background-position: center;
    border: 2 px solid black;
    width: 25%;
    height: 40%;
    background-color: yellow;
}

.display-template{
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-template:hover{
    transform: scale(1.1);
}



.third{
    margin-left: 20%;
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div3{
    width: 7vw;
    font-size: 20px;
    padding: 0.8%;
    border-radius: 30px;
    border: 1px solid black;
}

.fourth{
    padding: 1rem;
    justify-items: left;
    /* background-color: beige; */
    width: 90vw;
    height: 100vh;
    border: 2 px solid red;
}

.explore{
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 0.4rem;
  /* padding: 1rem 1.75rem; */
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.3s ease-in-out;
}

.explore:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
}

.items{
   
    border: 1 px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.gridItems{
    overflow-x: hidden;
    height:150vh;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#shoe-container{
    height: 65rem;;
}


.card{

    width: 100%;
    height: 50%;
    background-color: rebeccapurple;
    background-size: cover;
}

.filter-btn{
    background-color: #EDE8DC;
    border-radius: 20rem;
    border: none;
    gap: 2rem;
    width: 8rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-btn:hover{
    transform: scale(1.2);
}


.icon i {
    transition: transform 0.2s ease-in-out;
}

.icon i:hover {
    transform: scale(1.4);
}