*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main{
    padding-top: 0%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    overflow-x: hidden;
    background-color: #FFFDF6;
    /* background:#FFFDF6; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}
.navbar{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.1vw 1vh;
    /* position: fixed; */
    background-color: white; 
}
.icon {
    padding-right: 2%;
    display: flex;
    gap: 2vw; /* Adds spacing between icons */
}

.fa{
    color: black;
}

#soles{
    font-size: 280%;
}

li{
    text-decoration: none;
    /* color: ; */
}

.container-navbar{
    margin-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 80vw;
    height: 10vh;
    /* background-color: aquamarine;
    border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.box{
    background-color: #ECEBDE;
    /* padding-left: 2rem;
    padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    width: 50vw;
    height: 30vh;
    border: 1px solid black;
    
}

.cartdelete{
    display: flex;
    gap: 15rem;
    justify-content: center;
    align-items: center;

}

.photo{
    /* padding-left: 2rem; */
    /* margin: 2rem; */
    width: 15em;
    height: 15em;
    background-image: url('/images/w8.avif');
    background-size: cover;
}
.information{
    width: 60%;
    background-color: #D7D3BF;
    height: 15rem;
    /* height: 70%; */
    /* border: 2px solid bisque; */
    padding: 2rem;

    /* margin: 0.5rem; */
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items:start;
}

.icon i {
    transition: transform 0.3s ease-in-out;
}

.icon i:hover {
    transform: scale(1.4);
}

/* .wishlistbutt{
    width: 100%;
    height: 35%;
    background-color: aqua;
} */
/* <!-- HTML !-->
<button class="button-43" role="button">Button 43</button> */

/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
